:root {
  --font-color-light: #333;
  --background-color-light: #eee;
  --link-color-light: cornflowerblue;

  
}

/* Dark mode colors */
[data-theme="dark"] {
  --font-color-light: #eee;
  --background-color-light: #333;
  --link-color-light: lightblue;
}

/* Common colors */
:root {
  --font-color: var(--font-color-light);
  --background-color: var(--background-color-light);
  --link-color: var(--link-color-light);
}

body {
  /* Set background, text color, and font styles based on the data-theme attribute */
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

a {
  /* Set link color based on the data-theme attribute */
  color: var(--link-color);
}

/* Toggle theme styles */
.toggle-theme-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: var(--slider-background);
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: var(--slider-handle-color);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: var(--slider-color);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Styles for the dark mode slider */
[data-theme="dark"] .slider {
  background-color: #666;
}

[data-theme="dark"] .slider:before {
  background-color: #333;
}

[data-theme="dark"] input:checked + .slider {
  background-color: #6b6bff;
}