/* Listing.css */

.wrapper {
    flex: 1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .info {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  
  .container {
    min-width: 280px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .container:hover .info {
    opacity: 1;
  }
  
  .image {
    height: 85%;
    width: 85%;
    object-fit: cover;
    z-index: 2;
  }
  
  .icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s ease;
  }
  
  .icon:hover {
    background-color: white;
    transform: scale(1.1);
  }
  
  .infoContainer {
    padding: 0 10px;
  }
  
  .title {
    font-weight: 600;
    font-size: 14px;
  }
  
  .title:hover {
    cursor: pointer;
    color: #0073e6;
  }
  
  .notice {
    background-color: green;
    text-align: center;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  
  .noticeEnd {
    background-color: #ff1a1a;
    text-align: center;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  
  .noticeText {
    color: white;
    font-weight: 600;
    padding: 5px;
  }
  
  .price {
    font-weight: 300;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin: 5px;
  }
  